:root {
  --body: #1d1d1d;
  /* القيمة الافتراضية: أسود */
  --g: #ffffff;
  --Ccont: #414141;
  --sh:#00e1ff76;
  --trans:0ms;
  --p:#c0c0c0;
}

body {
  background-color: var(--body);
  color: var(--g);
  transition: var(--trans);
  font-family: sans-serif;
}

.contaner {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  border: solid 1px rgba(0, 218, 233, 0.524);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--Ccont);
  transition: var(--trans);
}

.border {
  border: solid 1px rgb(255, 0, 0);
}

.flex {
  display: flex;
}
test{
  color: #31cef9da;
}